@media(max-width:480px)
{
.main 
{
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav 
{
    display: none;
}
.nav .poy ul 
{
    display: none;
}

*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header 
{
    width: 100%;
    height: 80px;
    background-color: aquamarine;
    display: none;
}
.box5
{
    width: 100%;
    height: 80px;
}
.box5
{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
}
.box5 i 
{
    font-size: 40px;
    color: black;
    display: flex;
    justify-content: flex-end;
   
    
}
.box5 i ul 
{
    width: 100%;
    position: absolute;
   display: none;
  
   
}
.box5:hover ul 
{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    
}
.box5 i ul li 
{
    padding: 20px;
    font-size: 15px;
    list-style: none;
    color: white;
    font-weight: bolder;
  
    
}
.swiper
{
    width: 100%;
    height: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 580px;
    object-fit: cover;
}
.icon 
{
  
    font-size: 30px;
    align-items: center;
    color: white;
    display: none;
}
.ww button 
{
   font-size: 15px;
   border-radius: 10px;
   background-color: crimson;
   color: white;
   border: none;
   width: 25%;
   height: 30px;
}
.bb button 
{
   font-size: 15px;
   border-radius: 10px;
   background-color: crimson;
   color: white;
   border: none;
   width: 25%;
   height: 30px;
}
.cut
{
    height: 80px;
    width: 200px;
    position: absolute;
  
    padding-bottom: 10px;
}
.cut img 
{
    width: 100%;   
    
}


.mm
{
   
   padding-top: 60px;
}
.mm button 
{
   font-size: 13px;
   border-radius: 5px;
   background-color: crimson;
   color: white;
   border: none;
}
.help
{
    width: 100%;
    height: auto;
}
.break 
{
    font-size: 30px;
    text-align: center;
    padding: 30px;
}
.img
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction:column;
}
.td
{
    width: 100%;
  
}
.td .image img
{
    width: 100%;
    height: 400px;
}
.td .image 
{
    padding: 20px;
    width: 100%;
    height: 400px;
}
.tr 
{
    height: 300px;
    width: 425px;
    padding: 20px;
}
.tr h1 
{
    padding: 20px 0px;
    text-align: left;
    font-size: 40px;
}
.tr p
{
    padding: 20px 0px;
    text-align: left;
}
.tr button
{
   
    height: 30px;
    width: 25%;
    color: white;
    background-color: crimson;
    border-radius: 20px;
    border: none;
   
}

.back 
{
    width: 100%;
    height: auto;
    padding-top: 30px;
    display: flex;
    
}
.backmain
{

    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.come 
{
    width: 100%;
    height: 500px;
}
.come img 
{
    height: 400px;
    width: 100%;
  
}
.smile 
{
    height: 450px;
    width: 100%;
}
.wit h1
{
    font-size: 32px;
}
.wit p{
    font-size: 15px;
    color: black;
    text-align: center;
   
}
.service 
{
    width: 100%;
    height: 400px;
    background-color:rgb(237, 87, 112);
    flex-direction: column;
}
.port
{
    align-items: center; 
    padding-left: 20px;
    width: 100%;
}
.port img 
{
   height: 40px; 
}
.port li 
{
    list-style: none;
    color: white;
}
.port li h1 
{
    font-size: 45px;
}
.port li 
{
    font-size: 15px;
}

.tr1
{
    width: 100%;
}
.gg
{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.hh
{
    height: 400px;
    display: block;
    position: relative;
}
.yk
{
   
    width: 50%;
    height: auto;
}
.low 
{
    text-align: center;
    padding: 0%;
   width: 100%;
}
.low img 
{
 
  
}
.wit p 
{
    padding-top: 0px;
}
.yk 
{
    height: 30px;
    width: 425px;
}

.yk h2 
{
    padding-top: 20px;
    text-align: center;
}
.yk p
{
    padding: 50px 0px 20px 10px;
    text-align: center;
    
}
.bpp .content
{     
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    color: black;
    background-color: white;
    border-radius: 10px;
    height: 300px;
    width: 80%;
}
.bpp{

    width: 100%;
    height: 450px;
}
.bpp img{

    width: 100%;
    height: 450px;
}
.first
{
    width: 100%;
    height: auto;
}
.second
{
    display: flex;
    flex-direction: column;
    height: auto;
}
.box1
{
    display: block;
    width: 100%;
    margin: 20px;
}
.box2
{
    display: block;
    width: 100%;
    margin: 20px 0px;
    
}
.box2 img 
{
   transform: translate(-15%);
   left: 0%;
   width: 100%;
}
.box3
{
    display: block;
    width: 100%;
    margin: 20px;
}
.box3 img 
{
    width: 80%;
}
.tt
{
    width: 100%;
   height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   padding-top: 60px;
   color: white;  
}
.lp 
{
    padding: 20px;
}
.what
{
    padding: 20px;
}
.boat
{
    padding: 20px;
}
.new
{
    padding: 20px;
}
.lp  li img 
{
    width: 35%;
}
input 
{
    width: 100%;
    height: 50px;
    border-radius: 20px;
    background-color: brown;
    border: 1px solid brown;
}

}