@media(min-width:481px) and (max-width:768px)
{
 *
{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.nav 
{
    height: 40px;
    width: 100%;
    background-color: crimson;
}
.nav .poy 
{
    display: flex;
    height: 40px;
    align-items: center;
}
.poy li 
{
    padding: 30px;
    font-size: 20px;
    color: white;
    list-style: none;
}
.icon 
{
    font-size: 20px;
    align-items: center;
    color: white;
    padding-top: 10px;
}
.icon i 
{
    padding: 5px;
}
header 
{
    width: 100%;
    height: 80px;
    background-color: aquamarine;
    display: none;
}
.box5
{
    width: 100%;
    height: 80px;
}
.box5
{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
}
.box5 i 
{
    font-size: 40px;
    color: black;
    display: flex;
    justify-content: flex-end;
   
    
}
.box5 i ul 
{
    width: 100%;
    position: absolute;
   display: none;
  
   
}
.box5:hover ul 
{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    
}
.box5 i ul li 
{
    padding: 20px;
    font-size: 15px;
    list-style: none;
    color: white;
    font-weight: bolder;
  
    
}
.main 
{
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.swiper {
    width: 100%;
    height: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 580px;
    object-fit: cover;
}
.break 
{
    font-size: 30px;
    text-align: center;
    padding: 30px;
}
.help
{
    width: 100%;
    flex-wrap: wrap;
   
}
.img 
{
    width: 100%;
    flex-wrap: wrap;
}
.td 
{
    width: 50%;
}
.image img 
{
    height: 300px;
   width: 300px;
}
.tr 
{
    width: 100%;
}
.tr button 
{
    height: 30px;
    width: 40%;
    background-color: crimson;
    color: white;
    font-size: 18px;
    margin-left:20px;
   
}
.tr h1 
{
    padding: 10px 25px;
    text-align: center;
    font-size: 34px;
}
.tr p
{
    padding: 20px 25px;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
}
.back 
{
    width: 100%;
    height: auto;
    padding-top: 30px;
    display: flex;
  
}
.backmain
{

    width: 100%;
    display: flex;
    flex-direction: column;
}
.come 
{
    width: 100%;
    height: 500px;
}
.come img 
{
    height: 400px;
    width: 100%;
}
.smile 
{
    height: 450px;
    width: 100%;
}
.service
{
    width: 100%;
    flex-wrap: wrap;
   height: 500px;
  
}
.port
{
    width: 50%;
    flex-wrap: wrap;
   
}
.port img 
{
    padding-left: 20px;
}

.tr1
{
    width: 100%;
    flex-wrap: wrap;
  
    
   
}
.wit p 
{
    font-size: 18px;
}

.gg
{
    width: 100%;
    flex-wrap: wrap;
    
}
.hh 
{
    width: 50%;
    margin: auto;
   
}
.low 
{
    width: 100%;
}
.yk
{
   
    width: 100%;
}
.yk p 
{
    font-size: 14px;
}
.yk h2 
{
    font-size: 20px;
}





.bpp .content 
{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    color: black;
    background-color: white;
    border-radius: 10px;
    height: 400px;
    width: 80%;
    font-size: 30px;
}
.bpp .content p 
{
    font-size: 25px;
}
.first
{
    width: 100%;
    height: auto;
}
.second 
{
    width: 100%;
    flex-wrap: wrap;
    height: auto;
   
}
.box1 
{
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 30px;
}
.box2 
{
    width: 50%;
    height: auto;
   
}
.box2 img 
{
    width: 100%;
}
.box3 img 
{
    width: 80%;
}
.box3
{
    width: 50%;
 height: auto;
}
.footer 
{
    width: 100%;
    height: auto;
}
.tt 
{
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    
}
.lp 
{
    width: 50%;
    padding: 20px;
}
.what
{
    width: 50%;
    padding: 20px;
}
.boat
{
    width: 50%;
    padding: 20px;
}
.new
{
    width: 50%;
    padding: 20px;
}








}

    
