*
{
    padding: 0%;
    margin:0%;
    box-sizing: border-box;
   
}

.nav 
{
    height: 40px;
    width: 100%;
    background-color: crimson;
    display: flex;
}
.nav .poy 
{
    display: flex;
    height: 40px;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}
.poy  ul 
{
 
   display: flex;
  
}
.poy li 
{
    padding: 30px;
    font-size: 20px;
    color: white;
    list-style: none;
}
.icon 
{
  
    font-size: 30px;
    align-items: center;
    color: white;
}
.icon i 
{
    padding: 5px;
}


.main 
{
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cut
{
    height: 80px;
    width: 200px;    
}
.cut img 
{
    width: 100%;
    padding: 10px 20px;
}

header
{
    width: 100%;
    height: 80px;
    display: none;
    z-index: 10;
    flex-direction: row;
}
.box4
{
    width: 100%;
    height: 80px;  
    flex-direction: row;
}
.box5
{
    width: 100%;
    height: 80px;
    background-color: white;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}
.box5 i
{
    font-size: 40px;
    z-index: 22; 
    flex-direction: row;
  color: white;
   
}
.box5 i ul 
{
    width: 100%;
   
    position: absolute;
   left: 0%;
   top: 8%;
   display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.box5 li button 
{
    background-color: crimson;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    padding: 4px;
   
}


.box5 i ul li
{
    padding: 20px;
    font-size: 15px;
    list-style: none;
    flex-direction: row;
    color: black;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height:100%;
    object-fit: cover;
}
.lax h1 
{
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 60px;
    color: white;
   
    
}
.lax p
{
    position: absolute;
    top: 45%;
    left: 9%;
    font-size: 20px;
    color: white;

}
.ww button
{
    background-color: crimson;
    font-size: 20px;
    border-radius: 70px;
    position: absolute;
    color: white;
    width: 20%;
    height: 60px;
    border: none;
    left: 10%;
    bottom:29%;
    transition: all ease-in-out 0.9s;
}
.ww button:hover
{
    background: linear-gradient(to right, pink, rgb(223, 108, 223));
    color: purple;
   
     
}
.bb button
{
    background-color: crimson;
    font-size: 20px;
    border-radius: 70px;
    position: absolute;
    color: white;
    width: 20%;
    height: 60px;
    border: none;
    right: 18%;
    bottom: 32%;
}
.but h1 
{
    position: absolute;
    top: 20%;
    right: 10%;
    font-size: 60px;
    color: white;
    
}
.but p
{
    position: absolute;
    top: 45%;
    right:5%;
    font-size: 20px;
    color: white;
    font-size: 20px;
}
.yoy h1 
{
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 60px;
    color: white;  
}
.yoy p
{
    position: absolute;
    top: 45%;
    left: 9%;
    font-size: 20px;
    color: white;
}
.uu button
{
    background-color: crimson;
    font-size: 20px;
    border-radius: 70px;
    position: absolute;
    color: white;
    width: 20%;
    height: 60px;
    border: none;
    left: 10%;
    bottom: 20%;

}
.tt button
{
    background-color: crimson;
    font-size: 20px;
    border-radius: 70px;
    position: absolute;
    color: white;
    width: 20%;
    height: 60px;
    border: none;
    right: 20%;
    bottom: 20%;
}
.help
{
    width: 100%;
    margin: auto;
}
.break 
{
    font-size: 30px;
    text-align: center;
    padding: 30px;
}
.img
{
    display: flex;
    justify-content: space-evenly;
    
}
.td .image 
{
    padding: 20px;
}
.tr 
{
    height: 300px;
    width: 425px;
    padding: 20px;
}
.tr h1 
{
    padding: 20px 0px;
    text-align: left;
    font-size: 40px;
}
.tr p
{
    padding: 20px 0px;
    text-align: left;
    font-size: 20px;
    font-weight:100;
    color: gray;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.tr button
{
   
    height: 30px;
    width: 25%;
    color: white;
    background-color: crimson;
    border-radius: 20px;
    border: none;
}


.back 
{
    width: 100%;
    height: 500px;
    padding-top: 30px;
    margin: auto; 
    display: flex;

}
.backmain
{

    width: 80%;
    margin: auto;
    display: flex;
}
.come 
{
    width: 50%;
    height: 500px;
}
.come img 
{
    height: 400px;
    width: 100%;
}
.smile 
{
    width: 50%;
    height: 390px;
}
.smile h1 
{
    font-size: 45px;
    padding: 20px;
}
.smile p
{
    font-size: 20px;
    padding: 20px;
    color: gray;
}
.smile button 
{
    height: 30px;
    width: 20%;
    background-color: crimson;
    color: white;
  margin: 25px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
}
.service 
{
    width: 100%;
    height: 200px;
    background-color:rgb(237, 87, 112);
    display: flex;
    justify-content: space-around;   
}
.port
{
    display: flex;
    align-items: center; 
}
.port img 
{
   height: 80px; 
}
.port li 
{
    list-style: none;
    color: white;
    padding-left: 10px;  
}
.port li h1 
{
    font-size: 50px;
}
.port li 
{
    font-size: 20px;
}
.wit h1{
    font-size: 50px;
    color: black;
    text-align: center;
    padding: 30px 0px; 
}
.wit p{
    font-size: 20px;
    color: black;
    text-align: center;
   
}
.par
{
    width: 70%;
    margin: auto;
}
.tr1
{
    width: 100%;
    justify-content: space-evenly;
}
.gg
{
    display: flex;
    justify-content: space-evenly;
}
.low
{
    display: flex;
    justify-content: space-evenly;
   text-align: center;
   
    
}
.rr
{
    width: 100%;
}
.tr1
{
    width: 100%;
    display: flex;
}
.hh
{
   padding: 50px 30px 5px;
   height: 460px;
}
.tr1 .low
{
    padding: 20px 0px;
    display: flex;
}
.yk
{
    height: 300px;
    width: 425px;
}
.yk h2 
{
   
    text-align: center;
    padding-top: 20px;
}
.yk p
{
    padding: 50px 0px 20px 10px;
    text-align: center;
    color: gray;
    font-weight:50;
    font-size: 20px;
   
}

.bpp
{
    width: 100%;
    height: 700px;
    position: relative;
}
.bpp img{
    width: 100%;
    height: 600px;
}
.bpp .content
{     
    position: absolute;
    transform: translate(-50%,-50%);
    top: 45%;
    left: 70%;
    color: black;
    background-color: white;
    border-radius: 10px;
}
.bpp .content p 
{
    font-size: 15px;
    padding: 10px 20px;
    color: gray;
    font-weight: 100;
}
.bpp .content h1 
{
   padding: 20px 20px;
}
.ved 
{
   padding: 15px 10px;
}
.ved button
{
    background-color: crimson;
    font-size: 15px;
    border-radius: 70px;
    color: white;
    width: 50%;
    height: 50px;
    border: none;

}
.first
{
    height: 400px;
    width: 100%;
    
   
}
.second 
{
    height: 400px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
 
   
}
.box1 h1 
{
    font-size: 60px;
    color: rgb(29, 28, 28);
  
}
.box1 p 
{
    font-size: 20px;
   padding: 30px 0px;
   font-weight: lighter;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box1 
{
    width: 40%;
    
}
.box2 
{
    width: 40%;
    height:350px;
    padding: 0px 20px;
}
.box2 img 
{
    width: 100%;
    padding-left: 80px;
    height:350px;
   
}
.box3
{
    width: 25%;
    height:350px;
    padding: 0px 20px;
   
   
}
.box3 img 
{
width: 100%;
height:350px;


  
}
.la button
{
    background-color: crimson;
    font-size: 20px;
    border-radius: 80px;
    color: white;
    width: 50%;
    height: 50px;
    border: none;

}
footer
{
    width: 100%;
    height: auto;
    background-color: rgb(29, 28, 28);
}
.tt
{
    width: 100%;
    height: 300px;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
   padding-top: 60px;
   color: white;
    
}
.what h3 
{
    font-size: 25px;
}
.boat h3 
{
    font-size: 25px;
}
.new h3 
{
    font-size: 25px;
}
.tt li
{
    list-style: none;
    padding: 9px 0px;
    font-size: 20px;
}
.lp  li img 
{
    width: 80%; 
   
   
}


.lp p 
{
    font-size: 15px;
}
.lp i 
{
    font-size: 30px;
  padding: 10px 5px 3px 0px;
}
.lp img 
{
    
    border-radius: 3px;
}
input 
{
    width: 80%;
    height: 50px;
    border-radius: 20px;
    background-color: brown;
    border: 1px solid brown;
}
input::placeholder
{
    font-size: 20px;
    color: white;
    padding-left: 10px;
   
}
.bit 
{
    width: 100%;
    height: 100px;
    background-color: rgb(29, 28, 28);
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}



   
   










